.banner {
     background: url("https://images8.alphacoders.com/380/380528.jpg") 
     no-repeat center center;
     background-size: cover;
     padding-top: 35%;
     padding-bottom: 5%;
     color:#fff;
}    